
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.cart)
        {
            <tr>
                <th><a class="btn btn-danger" asp-action="remove" asp-route-id="@item.Product.Id">REMOVE</a></th>
                <td>@item.Product.Id</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>
